html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #388E3C;
}

a:hover {
  color: #2E7D32;
}

.navbar {
  border-bottom: 2px solid #8b8b8b;
  margin-bottom: 50px;
}

.footer {
  height: 60px;
  line-height: 60px;
  right: 0;
  margin-top: 50px;
}

.justified-container {
  width: 100%;
  height: 100%;
  border: thin solid #eee;
}

.justified-item {
  cursor: pointer;
}

.justified-item:nth-child(even) {
  background-color: #EF5350;
}

.justified-item:nth-child(odd) {
  background: #26A69A;
}

.inner {
  width: 100%;
  height: 100%;
}

.section {
  margin-bottom: 20px;
}

.justified-container.random .justified-item:nth-child(even) {
  background-color: #81C784;
}

.justified-container.random .justified-item:nth-child(odd) {
  background: #26A69A;
}
